/* Erica Egan*/
/* CSC102 -Meme*/

body {
    background-image: url(mtn.jpg); /* my pic */
    background-repeat: no-repeat; /* not repeating */ 
    background-size: cover; /* image to cover the entire background */
  }
  button/*button style*/
  {
    
      border: 25px outset #1C6EA4;
      border-radius: 18px 0px 29px 0px;
      font-style: italic;
      font-family: Georgia, serif; 
      font-size: 29px; line-height:29px;
      font-weight: bold;
      color:blue;
      animation-fill-mode:backwards;
      background-color: red;/* this is the fill color on my buttons*/
      
  }
  
  h2{
    background-color: #1C6EA4;
  color: #fff;
  padding: 10px;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-weight: x bold;
  color: rgb(11, 11, 11);
  }
